@using Bookstoria.Models.Admins;
@model AdminAddBookViewModel;
@{
    ViewData["Title"] = "AddBook";
}

<h1>AddBook</h1>

<form asp-action="AddBook" method="post" enctype="multipart/form-data">

    <div class="row">
        <div class="col-2">
            Book Title
        </div>
        <div class="col-10">
            <input class="form-control" type="text" asp-for="Title" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            Book Author
        </div>
        <div class="col-10">
            <input class="form-control" type="text" asp-for="Author" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            Book Price
        </div>
        <div class="col-10">
            <input class="form-control" type="text" asp-for="Price" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            Book ISBN
        </div>
        <div class="col-10">
            <input class="form-control" type="text" asp-for="ISBN" />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            Book CategoryType
        </div>
        <div class="col-10">
            <select id="CategoryType" name="CategoryType">
                <option value="SF">SF</option>
                <option value="Comic book">Comic book</option>
                <option value="History">History</option>
                <option value="Biography">Biography</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            Book DiscountValue
        </div>
        <div class="col-10">
            <select id="DiscountValue" name="DiscountValue">
                <option value="0">None</option>
                <option value="0.10">0.10</option>
                <option value="0.15">0.15</option>
                <option value="0.25">0.25</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            Book Image
        </div>
        <div class="col-10">
            <input type="file" asp-for="Image" />
        </div>
    </div>

    <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>