@model Bookstoria.Models.Admins.AdminDeleteBookViewModel

@{
    ViewData["Title"] = "DeleteBook";
}


<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    
    <form asp-action="DeleteBook">
        <div class="row">
            <div class="col-2">
                Book Title
            </div>
            <div class="col-10">
                <input class="form-control" type="text" asp-for="Title" />
            </div>
        </div>
        <button>
            <input type="submit" value="Delete" class="btn btn-default" />
        </button>
                
        <a asp-action="Index">Back to List</a>
    </form>
</div>
